In [7]:
import pandas as pd
data = pd.read_csv("C:\\Users\\SANATH\\Downloads\\Diabetes Missing Data.csv")
print(data)

     Pregnant  Glucose  Diastolic_BP  Skin_Fold  Serum_Insulin   BMI  \
0           6    148.0          72.0       35.0            NaN  33.6
1           1     85.0          66.0       29.0            NaN  26.6
2           8    183.0          64.0        NaN            NaN  23.3
3           1     89.0          66.0       23.0           94.0  28.1
4           0    137.0          40.0       35.0          168.0  43.1
..        ...      ...           ...        ...            ...   ...
763        10    101.0          76.0       48.0          180.0  32.9
764         2    122.0          70.0       27.0            NaN  36.8
765         5    121.0          72.0       23.0          112.0  26.2
766         1    126.0          60.0        NaN            NaN  30.1
767         1     93.0          70.0       31.0            NaN  30.4

     Diabetes_Pedigree  Age  Class
0                0.627   50      1
1                0.351   31      0
2                0.672   32      1
3                0.167   21      0
4                2.288   33      1
..                 ...  ...    ...
763              0.171   63      0
764              0.340   27      0
765              0.245   30      0
766              0.349   47      1
767              0.315   23      0

[768 rows x 9 columns]

In [9]:
null_counts = data.isnull().sum
print(null_counts)

<bound method DataFrame.sum of      Pregnant  Glucose  Diastolic_BP  Skin_Fold  Serum_Insulin    BMI  \
0       False    False         False      False           True  False
1       False    False         False      False           True  False
2       False    False         False       True           True  False
3       False    False         False      False          False  False
4       False    False         False      False          False  False
..        ...      ...           ...        ...            ...    ...
763     False    False         False      False          False  False
764     False    False         False      False           True  False
765     False    False         False      False          False  False
766     False    False         False       True           True  False
767     False    False         False      False           True  False

     Diabetes_Pedigree    Age  Class
0                False  False  False
1                False  False  False
2                False  False  False
3                False  False  False
4                False  False  False
..                 ...    ...    ...
763              False  False  False
764              False  False  False
765              False  False  False
766              False  False  False
767              False  False  False

[768 rows x 9 columns]>

In [11]:
data.dropna

<bound method DataFrame.dropna of      Pregnant  Glucose  Diastolic_BP  Skin_Fold  Serum_Insulin   BMI  \
0           6    148.0          72.0       35.0            NaN  33.6
1           1     85.0          66.0       29.0            NaN  26.6
2           8    183.0          64.0        NaN            NaN  23.3
3           1     89.0          66.0       23.0           94.0  28.1
4           0    137.0          40.0       35.0          168.0  43.1
..        ...      ...           ...        ...            ...   ...
763        10    101.0          76.0       48.0          180.0  32.9
764         2    122.0          70.0       27.0            NaN  36.8
765         5    121.0          72.0       23.0          112.0  26.2
766         1    126.0          60.0        NaN            NaN  30.1
767         1     93.0          70.0       31.0            NaN  30.4

     Diabetes_Pedigree  Age  Class
0                0.627   50      1
1                0.351   31      0
2                0.672   32      1
3                0.167   21      0
4                2.288   33      1
..                 ...  ...    ...
763              0.171   63      0
764              0.340   27      0
765              0.245   30      0
766              0.349   47      1
767              0.315   23      0

[768 rows x 9 columns]>

In [13]:
data.isnull()

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,False,False,False,False,True,False,False,False,False
1,False,False,False,False,True,False,False,False,False
2,False,False,False,True,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,True,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,True,True,False,False,False,False
767,False,False,False,False,True,False,False,False,False

In [23]:
data.notnull()

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,True,True,True,True,False,True,True,True,True
1,True,True,True,True,False,True,True,True,True
2,True,True,True,False,False,True,True,True,True
3,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...
763,True,True,True,True,True,True,True,True,True
764,True,True,True,True,False,True,True,True,True
765,True,True,True,True,True,True,True,True,True
766,True,True,True,False,False,True,True,True,True
767,True,True,True,True,False,True,True,True,True

In [25]:
data.fillna

<bound method NDFrame.fillna of      Pregnant  Glucose  Diastolic_BP  Skin_Fold  Serum_Insulin   BMI  \
0           6    148.0          72.0       35.0            NaN  33.6
1           1     85.0          66.0       29.0            NaN  26.6
2           8    183.0          64.0        NaN            NaN  23.3
3           1     89.0          66.0       23.0           94.0  28.1
4           0    137.0          40.0       35.0          168.0  43.1
..        ...      ...           ...        ...            ...   ...
763        10    101.0          76.0       48.0          180.0  32.9
764         2    122.0          70.0       27.0            NaN  36.8
765         5    121.0          72.0       23.0          112.0  26.2
766         1    126.0          60.0        NaN            NaN  30.1
767         1     93.0          70.0       31.0            NaN  30.4

     Diabetes_Pedigree  Age  Class
0                0.627   50      1
1                0.351   31      0
2                0.672   32      1
3                0.167   21      0
4                2.288   33      1
..                 ...  ...    ...
763              0.171   63      0
764              0.340   27      0
765              0.245   30      0
766              0.349   47      1
767              0.315   23      0

[768 rows x 9 columns]>

In [27]:
data.replace()

C:\Users\SANATH\AppData\Local\Temp\ipykernel_11420\295544180.py:1: FutureWarning: DataFrame.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  data.replace()

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,29.0,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0
764,2,122.0,70.0,27.0,180.0,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0
766,1,126.0,60.0,23.0,112.0,30.1,0.349,47,1
767,1,93.0,70.0,31.0,112.0,30.4,0.315,23,0

In [31]:
-data.interpolate()

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,-6,-148.0,-72.0,-35.0,NaN,-33.6,-0.627,-50,-1
1,-1,-85.0,-66.0,-29.0,NaN,-26.6,-0.351,-31,0
2,-8,-183.0,-64.0,-26.0,NaN,-23.3,-0.672,-32,-1
3,-1,-89.0,-66.0,-23.0,-94.0,-28.1,-0.167,-21,0
4,0,-137.0,-40.0,-35.0,-168.0,-43.1,-2.288,-33,-1
...,...,...,...,...,...,...,...,...,...
763,-10,-101.0,-76.0,-48.0,-180.0,-32.9,-0.171,-63,0
764,-2,-122.0,-70.0,-27.0,-146.0,-36.8,-0.340,-27,0
765,-5,-121.0,-72.0,-23.0,-112.0,-26.2,-0.245,-30,0
766,-1,-126.0,-60.0,-27.0,-112.0,-30.1,-0.349,-47,-1
767,-1,-93.0,-70.0,-31.0,-112.0,-30.4,-0.315,-23,0

In [33]:
data.isnull().sum()

Pregnant               0
Glucose                5
Diastolic_BP          35
Skin_Fold            227
Serum_Insulin        374
BMI                   11
Diabetes_Pedigree      0
Age                    0
Class                  0
dtype: int64

In [35]:
data.head(10).isnull()

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,False,False,False,False,True,False,False,False,False
1,False,False,False,False,True,False,False,False,False
2,False,False,False,True,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,True,True,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,True,True,True,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,True,True,True,False,False,False

In [37]:
data.tail(5).isnull()

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,True,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,True,True,False,False,False,False
767,False,False,False,False,True,False,False,False,False

In [15]:
data.backfill

<bound method NDFrame.backfill of      Pregnant  Glucose  Diastolic_BP  Skin_Fold  Serum_Insulin   BMI  \
0           6    148.0          72.0       35.0            NaN  33.6
1           1     85.0          66.0       29.0            NaN  26.6
2           8    183.0          64.0        NaN            NaN  23.3
3           1     89.0          66.0       23.0           94.0  28.1
4           0    137.0          40.0       35.0          168.0  43.1
..        ...      ...           ...        ...            ...   ...
763        10    101.0          76.0       48.0          180.0  32.9
764         2    122.0          70.0       27.0            NaN  36.8
765         5    121.0          72.0       23.0          112.0  26.2
766         1    126.0          60.0        NaN            NaN  30.1
767         1     93.0          70.0       31.0            NaN  30.4

     Diabetes_Pedigree  Age  Class
0                0.627   50      1
1                0.351   31      0
2                0.672   32      1
3                0.167   21      0
4                2.288   33      1
..                 ...  ...    ...
763              0.171   63      0
764              0.340   27      0
765              0.245   30      0
766              0.349   47      1
767              0.315   23      0

[768 rows x 9 columns]>

In [17]:
data.ffill

<bound method NDFrame.ffill of      Pregnant  Glucose  Diastolic_BP  Skin_Fold  Serum_Insulin   BMI  \
0           6    148.0          72.0       35.0            NaN  33.6
1           1     85.0          66.0       29.0            NaN  26.6
2           8    183.0          64.0        NaN            NaN  23.3
3           1     89.0          66.0       23.0           94.0  28.1
4           0    137.0          40.0       35.0          168.0  43.1
..        ...      ...           ...        ...            ...   ...
763        10    101.0          76.0       48.0          180.0  32.9
764         2    122.0          70.0       27.0            NaN  36.8
765         5    121.0          72.0       23.0          112.0  26.2
766         1    126.0          60.0        NaN            NaN  30.1
767         1     93.0          70.0       31.0            NaN  30.4

     Diabetes_Pedigree  Age  Class
0                0.627   50      1
1                0.351   31      0
2                0.672   32      1
3                0.167   21      0
4                2.288   33      1
..                 ...  ...    ...
763              0.171   63      0
764              0.340   27      0
765              0.245   30      0
766              0.349   47      1
767              0.315   23      0

[768 rows x 9 columns]>

In [19]:
data.pad

<bound method NDFrame.pad of      Pregnant  Glucose  Diastolic_BP  Skin_Fold  Serum_Insulin   BMI  \
0           6    148.0          72.0       35.0            NaN  33.6
1           1     85.0          66.0       29.0            NaN  26.6
2           8    183.0          64.0        NaN            NaN  23.3
3           1     89.0          66.0       23.0           94.0  28.1
4           0    137.0          40.0       35.0          168.0  43.1
..        ...      ...           ...        ...            ...   ...
763        10    101.0          76.0       48.0          180.0  32.9
764         2    122.0          70.0       27.0            NaN  36.8
765         5    121.0          72.0       23.0          112.0  26.2
766         1    126.0          60.0        NaN            NaN  30.1
767         1     93.0          70.0       31.0            NaN  30.4

     Diabetes_Pedigree  Age  Class
0                0.627   50      1
1                0.351   31      0
2                0.672   32      1
3                0.167   21      0
4                2.288   33      1
..                 ...  ...    ...
763              0.171   63      0
764              0.340   27      0
765              0.245   30      0
766              0.349   47      1
767              0.315   23      0

[768 rows x 9 columns]>